* {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    margin-top: 3em;
    max-width: 350px;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
    color: rgb(65, 30, 36);;
    text-shadow: 3px 3px 4px rgba(17, 3, 3, 0.6);
}

